entrypoint = "index.js"
modules = ["nodejs-22"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_11"

[deployment]
run = "npm run start"
deploymentTarget = "autoscale"
ignorePorts = false

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5173

[[ports]]
localPort = 5175

[workflows]
runButton = "Full Stack Dev"

[[workflows.workflow]]
name = "Full Stack Dev"
author = 45852898
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
